.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/scripts-teleservices.iml
.idea/vcs.xml
.idea/dictionaries/daniel.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__
*settings.py
*env*